<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.soulfragments" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Soul Fragments</name>
    <description>2D roguelike с пиксельной графикой и поддержкой джойстика PS4</description>
    <author email="you@example.com">Your Name</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <platform name="android" />
</widget>
